<div class='container'>
{% if not user %}
  <div class="columns">
        <div class="column">
            {% partial __SELF__ ~ '::signin' %}
        </div>

        <div class="column">
            {% partial __SELF__ ~ '::register' %}
        </div>
{% else %}

    <div class="column">
      {% partial __SELF__ ~ '::activation_check' %}
    </div><div class="column">
      {% partial __SELF__ ~ '::update' %}
    </div><div class="column">
      {% partial __SELF__ ~ '::deactivate_link' %}
    </div>

{% endif %}

</div>
